/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Ιουλ 2019, 3:04:42 μμ
    Author     : minas
*/



#map {
    height: 550px;
    width: 100%
}
.bg-navy  { background-color: rgb(7,7,44)}

.border-color-navy{
    border-style: solid;
    border-color:rgb(7,7,44);
    border-width: 3px;}
.text-navy{
    color:rgb(7,7,44);
    font-family: "Times New Roman", Times, serif;
}
#Search_text{
    margin-left: 15px;
}
#Search_box{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 0px;

}
#Search_box_inside{
    padding-top: 10px;
    padding-bottom: 10px;
}
#button_search{
    margin-top:25px;
    width: 200px;

}
#home_link{
    font-size: 150%;
    color: white;
    border-style: solid;
    border-color:white;
    border-width: 3px;
}

#dropdown_customer{
    margin-bottom: 0px;
}
.custom{
    width: 150px ;
}   
.disabled{
    pointer-events: none;
}
.pad-top{
    padding-top: 35px;
}
