/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Ιουλ 2019, 9:15:25 μμ
    Author     : minas
*/


.bg-navy {
    background-color:rgb(8,8,44)
}

.border-color-navy {
    border-style: solid;
    border-color: rgb(8,8,44);
    border-width: 3px;
}

.text-navy {
    color: rgb(8,8,44);
    font-family: "Times New Roman", Times, serif;
}

.text-white{
    color: white;
}


#home_link {
    font-size: 150%;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

#dropdown_customer {
    margin-bottom: 0px;
}

#icon{
    height: 2px;
    width: 2px;
    
}

.list-group li:nth-child(1){
    border-top: 0 none;
  }

  .list-group-item {
    overflow: hidden;
    display: table;
  }
  
 .vertical-align {
    display: table-cell; 
    vertical-align: middle; 
    float:none;
  }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 20%;

}

.close {
  color: #aaaaaa;
  float: right;
  text-align:right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;}